<footer>
<div id="mEtc" class="wrap_etc">
	<div class="inner_aside">
		<div>
			<div>
				<!-- 공지사항 -->
				<div>
					<div class="box_aside">
						<strong>공지사항</strong>
						<ul class="list_board">
							<li><a href="[##_notice_rep_link_##]" class="link_board">공지제목</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<!-- 최근에 올라온 글 -->
				<div class="box_aside">
					<strong>최근에 올라온 글</strong>
					<ul class="list_board">
						<li><a href="[##_rctps_rep_link_##]" class="link_board">최근글 제목</a></li>
					</ul>
				</div>
			</div>
			<div>
				<!-- 최근에 달린 댓글 -->
				<div class="box_aside">
					<strong>최근에 달린 댓글</strong>
					<ul class="list_board">
						<li><a href="[##_rctrp_rep_link_##]" class="link_board">최근 댓글</a></li>
					</ul>
				</div>
			</div>
			<div>
				<!-- 링크 -->
				<div class="box_aside">
					<strong>링크</strong>
					<ul class="list_board">
						<li><a href="[##_link_url_##]" class="link_board" target="_blank">외부사이트</a></li>
					</ul>
				</div>
			</div>
			<div>
				<!-- 태그 클라우드 -->
				<div class="box_aside">
					<strong>TAG</strong>
					<ul class="list_tag">
						<li><a href="[##_tag_link_##]" class="link_tag [##_tag_class_##]">태그 사용량</a></li>
					</ul>
					<a href="[##_taglog_link_##]" class="link_more">more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="hide"/>
<div id="dkFoot" role="contentinfo" class="area_foot">
	Blog is powered by
	<em class="emph_t">waCa</em> / Designed by
	<em class="emph_t">Tistory</em>
</div>
</footer>