<div id="dkIndex">
    <a href="#dkBody">본문 바로가기</a>
    <a href="#dkGnb">메뉴 바로가기</a>
</div>
<div id="dkWrap" class="wrap_skin ">
    <div id="dkHead" role="banner" class="area_head ">
        <h1 class="screen_out">WACA BLOG</h1>
        <div class="area_profile ">
            <div class="info_profile">
                <button type="button" class="btn_name">WACA'S
                    <span class="ico_skin ico_name"></span>
                </button>
                <!-- admin 들어왔을때. -->
                <ul class="list_name">
                    <li><a href="/entry/post" class="link_name">글쓰기</a></li>
                    <!-- <li><a href="/setting" class="link_name">관리</a></li> -->
                    <!-- <li class="box_division"><a href="/tag" class="link_name">태그</a></li>
                    <li><a href="/guest/board" class="link_name">방명록</a></li>
                    <li><a href="/rss" class="link_name">RSS</a></li> -->
                </ul>
                <!-- 사용자 이름 -->
                <p class="txt_condition">waca</p>
            </div>
        </div>

        <button type="button" class="btn_menu">
            <span class="ico_skin ico_menu">카테고리 메뉴열기</span>
        </button>
    </div>

    <div class="dimmed_layer"></div>

    <button type="button" class="btn_close">
        <span class="ico_skin ico_close">닫기</span>
    </button>

    <div class="area_menu">
        <ins style="text-decoration: none;">
            <div class="area_search">
                <button type="button" class="btn_search">
                    <span class="ico_skin ico_search">검색하기</span>
                </button>
                <form action="#" method="get" class="frm_search" onsubmit="alert(1)">
                    <fieldset>
                        <legend class="screen_out">검색하기 폼</legend>
                        <label for="search" class="ico_skin lab_search">검색하기</label>
                        <input type="text" name="search" value="" id="search" class="tf_search">
                    </fieldset>
                </form>
            </div>
        </ins>
        <!-- 오른족 카테고리 -->
        <div role="navigation" class="area_navi">
            <button type="button" class="btn_cate">CATEGORY <span class="ico_skin ico_cate"></span></button>
            <div class="list_cate">
                <ul class="tt_category">
                    <li>
                        <a class="link_tit" href="/waca">waca</a><!-- 소개 -->
                        <a class="link_item" href="/activity/">Activity</a><!-- 활동 게시판-->
                        <a class="link_item" href="/review/">Review</a>		<!-- 리뷰 게시판 -->
                        <a class="link_item" href="/Programming/">Programming</a> <!-- 프로그래밍 게시판 -->
                        <a class="link_item" href="/Art/">Art</a><!-- 아트 게시판 -->
                        <a class="link_item" href="/Blah/">Blah Blah</a><!-- 주절주절 게시판 -->
                    </li>
                </ul>
                <ul class="menu_profile">
                    <li><a href="/">로그인</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr class="hide">
<div>
    <div class="area_list">
        <div class="tit_category">
            <a href="/" class="link_category"></a>
        </div>
    </div>
</div>
