 <div>
	<div class="list_content">
		<div>
			<!-- <a href="[##_article_rep_link_##]" class="thumbnail_post"><img src="//i1.daumcdn.net/thumb/C148x148/?fname=[##_article_rep_thumbnail_raw_url_##]"></a> -->
		</div>
		<a href="[##_article_rep_link_##]" class="link_post">
			<strong class="tit_post">타이틀</strong>
			<dfn class="txt_post">개요</dfn>
		</a>
		<div class="detail_info">
			<a href="[##_article_rep_category_link_##]" class="link_cate">카테고리</a>
			<span class="txt_bar"></span>
			저장날자
		</div>
	</div>
</div>
<div>
	<div class="area_paging area_paging_list">
				<span class="inner_paging">
					<a href="/" class="ico_skin link_prev [##_no_more_prev_##]">이전</a>
					<span>
						<a href="/" class="link_page"><span>페이징</span></a>
					</span>
					<a href="/" class="ico_skin link_next [##_no_more_next_##]">다음</a>
				</span>
	</div>
	<div class="area_paging area_paging_simple">
		<div class="inner_paging">
			<a href="/" class="link_prev [##_no_more_prev_##]">
				<span class="ico_skin ico_prev"></span>이전
			</a>
			<a href="/" class="link_next [##_no_more_next_##]">
				다음<span class="ico_skin ico_next"></span>
			</a>
		</div>
	</div>
</div>

<!-- <div>
	<div class="list_content">
		<a href="[##_article_rep_link_##]" class="link_post">
			<strong class="tit_post">보호글 제목</strong>
			<dfn class="txt_post">보호되어 있는 글입니다.</dfn>
		</a>
		<div class="detail_info">
			<a href="" class="link_cate">보호글</a>
			<span class="txt_bar"></span>
			보호글 제목
		</div>
	</div>
</div> -->