<div id="dkContent" class="cont_skin" role="main">
    <div id="cMain">
        <div>
            <div id="mArticle" class="article_skin">
                <div>
                    <div class="list_content">
                        <div>
                            <!-- <a href="[##_article_rep_link_##]" class="thumbnail_post"><img src="//i1.daumcdn.net/thumb/C148x148/?fname=[##_article_rep_thumbnail_raw_url_##]"></a> -->
                        </div>
                        <a href="[##_notice_rep_link_##]" class="link_post">
                            <strong class="tit_post">공지제목</strong>
                            <dfn class="txt_post">공지내용</dfn>
                        </a>
                        <div class="detail_info">
                            <a class="link_cate">공지사항</a>
                            <span class="txt_bar"></span>
                            시간
                        </div>
                    </div>
                </div>

                <div>
                    <div class="skin_view">
                        <div class="area_title">
                            <strong class="tit_category"><a>공지사항</a></strong>
                            <h3 class="tit_post"><a href="[##_notice_rep_link_##]">공지제목</a></h3>
									<span class="txt_detail my_post">글쓴이
										<span class="txt_bar"></span>time
									</span>
                        </div>
                        <div class="area_view">
                            내용
                        </div>
                        <div class="area_etc">
                            <strong class="screen_out">공유하기 링크</strong>
                            <ul class="list_share">
                                <li><a href="#none" class="ico_skin link_fb" data-service="facebook">페이스북</a></li>
                                <li><a href="#none" class="ico_skin link_ks" data-service="kakaostory">카카오스토리</a></li>
                                <li><a href="#none" class="ico_skin link_tw" data-service="twitter">트위터</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="mArticle" class="article_skin">
                <div>
                    <div class="list_content">
                        <a href="[##_article_rep_link_##]" class="link_post">
                            <strong class="tit_post">보호글 제목</strong>
                            <dfn class="txt_post">보호되어 있는 글입니다.</dfn>
                        </a>
                        <div class="detail_info">
                            <a href="" class="link_cate">보호글</a>
                            <span class="txt_bar"></span>
                            보호글 제목
                        </div>
                    </div>
                </div>

                <div>
                    <div class="skin_view">
                        <div class="area_title">
                            <strong class="tit_category"><a>보호글</a></strong>
                            <h3 class="tit_post"><a href="[##_article_rep_link_##]">보호글 제목</a></h3>
									<span class="txt_detail my_post">
										<span class="txt_bar"></span>보호글 날자
									</span>
                        </div>
                        <div class="area_view">
                            내용
                            <form class="protected_form" onsubmit="[##_article_dissolve_##]">
                                <p>보호되어 있는 글입니다. 내용을 보시려면 비밀번호를 입력하세요.</p>
                                <input type="password" id="[##_article_password_##]" name="[##_article_password_##]" value="" placeholder="비밀번호" />
                                <button type="submit">확인</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="mArticle" class="article_skin">
                <div>
                    <div class="list_content">
                        <div>
                            <!-- <a href="[##_article_rep_link_##]" class="thumbnail_post"><img src="//i1.daumcdn.net/thumb/C148x148/?fname=[##_article_rep_thumbnail_raw_url_##]"></a> -->
                        </div>
                        <a href="[##_article_rep_link_##]" class="link_post">
                            <strong class="tit_post">타이틀</strong>
                            <dfn class="txt_post">개요</dfn>
                        </a>
                        <div class="detail_info">
                            <a href="[##_article_rep_category_link_##]" class="link_cate">카테고리</a>
                            <span class="txt_bar"></span>
                            저장날자
                        </div>
                    </div>
                </div>

                <div>
                    <div class="skin_view">

                        <div class="area_title">
                            <strong class="tit_category"><a href="[##_article_rep_category_link_##]">카테고리</a></strong>
                            <h3 class="tit_post"><a href="[##_article_rep_link_##]">타이틀</a></h3>
									<span class="txt_detail my_post">작성자
										<span class="txt_bar"></span>날자
										<span>
											<span class="my_edit">
												<span class="txt_bar"></span><a href="[##_s_ad_m_link_##]" class="link_detail">수정</a>
												<span class="txt_bar"></span><a href="#" onclick="[##_s_ad_d_onclick_##]" class="link_detail">삭제</a>
											</span>
										</span>
									</span>
                        </div>

                        <div class="area_view">
                            상세내용
                        </div>

                        <div class="area_etc">
                            <strong class="screen_out">공유하기 링크</strong>
                            <ul class="list_share">
                                <li><a href="#none" class="ico_skin link_fb" data-service="facebook">페이스북</a></li>
                                <li><a href="#none" class="ico_skin link_ks" data-service="kakaostory">카카오스토리</a></li>
                                <li><a href="#none" class="ico_skin link_tw" data-service="twitter">트위터</a></li>
                            </ul>
                            <div>
                                <dl class="list_tag">
                                    <dt class="tit_tag">TAG</dt>
                                    <dd class="desc_tag">태그</dd>
                                </dl>
                            </div>
                        </div>


                        <div class="area_reply ">

                            <strong class="tit_reply">댓글
                                <button type="button" class="btn_reply" onclick="$.Area.Comment.changeStatus();[##_article_rep_rp_link_##]">
                                    <div>덧글 카운트</div>
                                    <span class="ico_skin ico_reply">댓글펼치기</span>
                                </button>
                            </strong>

                            <!-- 대체텍스트 댓글펼치기/댓글접기 변경 -->
                            <div>
                                <button type="button" class="btn_replymore">이전 댓글 보기</button>
                                <div>
                                    <ul class="list_reply">

                                        <li id='[##_rp_rep_id_##]' class="[##_rp_rep_class_##]">
                                            <img src="/" width="50" height="50" class="img_profile" alt="프로필사진">
													<span class="reply_content">
														<span class="tit_nickname">작성자<span class="ico_skin ico_secret"></span></span>
														<span class="txt_reply">내용</span>
														<span class="txt_date">날자</span>
													</span>
                                            <button type="button" class="btn_replymenu">
                                                <span class="ico_skin ico_replymenu">댓글 메뉴</span>
                                            </button>
                                            <div class="my_edit">
                                                <a href="[##_rp_rep_link_##]" class="link_edit">댓글주소</a>
                                                <a href="#" onclick="[##_rp_rep_onclick_delete_##]" class="link_edit">수정/삭제</a>
                                                <a href="#" onclick="[##_rp_rep_onclick_reply_##]" class="link_edit">댓글쓰기</a>
                                            </div>
                                        </li>

                                        <li id='[##_rp_rep_id_##]' class="re_reply [##_rp_rep_class_##]">
                                            <img src="/" width="50" height="50" class="img_profile" alt="프로필사진">
													<span class="reply_content">
														<span class="tit_nickname">탑승댓 이름<span class="ico_skin ico_secret"></span></span>
														<span class="txt_reply">탑승댓 타이릍</span>
														<span class="txt_date">탑승댓 날자</span>
													</span>
                                            <button type="button" class="btn_replymenu">
                                                <span class="ico_skin ico_replymenu">댓글 메뉴</span>
                                            </button>
                                            <div class="my_edit">
                                                <a href="[##_rp_rep_link_##]" class="link_edit">댓글주소</a>
                                                <a href="#" onclick="[##_rp_rep_onclick_delete_##]" class="link_edit">수정/삭제</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div>
                                    <fieldset class="fld_reply">
                                        <legend class="screen_out">댓글쓰기 폼</legend>
                                        <div class="reply_write ">
                                            <label for="[##_rp_input_comment_##]" class="lab_write"></label>
                                            <textarea id="[##_rp_input_comment_##]" name="[##_rp_input_comment_##]" class="tf_reply" placeholder="여러분의 소중한 댓글을 입력해주세요" tabindex="1"></textarea>
                                        </div>
                                        <div class="reply_writer">
                                            <div>
                                                <div class="writer_check">
															<span class="check_secret ">
																<input type="checkbox" name="[##_rp_input_is_secret_##]" id="[##_rp_input_is_secret_##]" class="inp_secret" tabindex="4">
																<label for="[##_rp_input_is_secret_##]" class="lab_secret">
																	<span class="ico_skin ico_check"></span>비밀글
																</label>
															</span>
                                                </div>
                                            </div>
                                            <div class="writer_btn">
                                                <button type="submit" class="btn_enter" onclick="[##_rp_onclick_submit_##]" tabindex="5">입력</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="area_paging area_paging_list">
						<span class="inner_paging">
							<a href="/" class="ico_skin link_prev [##_no_more_prev_##]">이전</a>
							<span>
								<a href="/" class="link_page"><span>페이징</span></a>
							</span>
							<a href="/" class="ico_skin link_next [##_no_more_next_##]">다음</a>
						</span>
            </div>
            <div class="area_paging area_paging_simple">
                <div class="inner_paging">
                    <a href="/" class="link_prev [##_no_more_prev_##]">
                        <span class="ico_skin ico_prev"></span>이전
                    </a>
                    <a href="/" class="link_next [##_no_more_next_##]">
                        다음<span class="ico_skin ico_next"></span>
                    </a>
                </div>
            </div>
        </div>
        <div id="mEtc" class="wrap_etc">
            <div class="inner_aside">
                <div>
                    <div>
                        <!-- 공지사항 -->
                        <div>
                            <div class="box_aside">
                                <strong>공지사항</strong>
                                <ul class="list_board">
                                    <li><a href="[##_notice_rep_link_##]" class="link_board">공지제목</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- 최근에 올라온 글 -->
                        <div class="box_aside">
                            <strong>최근에 올라온 글</strong>
                            <ul class="list_board">
                                <li><a href="[##_rctps_rep_link_##]" class="link_board">최근글 제목</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <!-- 최근에 달린 댓글 -->
                        <div class="box_aside">
                            <strong>최근에 달린 댓글</strong>
                            <ul class="list_board">
                                <li><a href="[##_rctrp_rep_link_##]" class="link_board">최근 댓글</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <!-- 링크 -->
                        <div class="box_aside">
                            <strong>링크</strong>
                            <ul class="list_board">
                                <li><a href="[##_link_url_##]" class="link_board" target="_blank">외부사이트</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <!-- 태그 클라우드 -->
                        <div class="box_aside">
                            <strong>TAG</strong>
                            <ul class="list_tag">
                                <li><a href="[##_tag_link_##]" class="link_tag [##_tag_class_##]">태그 사용량</a></li>
                            </ul>
                            <a href="[##_taglog_link_##]" class="link_more">more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>